@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* header
----------------------------*/
#logoTitle {
  height: auto;
  width: auto;
}

/*navbar
------------------------- */
.navbar {
  background-color: #9fd6f4;
  font-size: 16px;
  height: 55px !important;
  a {
    font-weight: bold;
    color: #333 !important;
  }
  .btn {
    margin-top: 4px !important;
    height: 45px !important;
    font-weight: bold;
  }
  .navbar-brand {
    color: #fff !important;
    font-size: 35px !important;
    font-weight: bold !important;
    font-family: 'Hobo std' !important;
    text-shadow: 2px 0 0 #a9daf5, -2px 0 0 #a9daf5, 0 2px 0 #a9daf5, 1px 1px #a9daf5,
                -1px -1px 0 #a9daf5, 1px -1px 0 #a9daf5, -1px 1px 0 #a9daf5 !important;
  }
  #calldigits {
    color: #5cb85c !important;
    font-size: 26px !important;
    font-weight: bold !important;
    font-family: 'Hobo std' !important;
    text-decoration: underline;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 1px 1px #fff,
                -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff !important;
     :hover {
       color: #5cb85 !important;
     }
  }
}

/*navbar collapse edit */
@media (max-width: 1220px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
/* */

.navbar-inverse {
  .navbar-toggle {
    .icon-bar{
      color: #333 !important;
    }
  }
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: #9fd6f4 !important;
}

.translator {
  background-color: #333 !important;
  margin-top: 6px !important;
  border-radius: 6px;
  :hover {
    color: #efefef !important;
    font-color: #333 !important;
  }
}


/* body
------------------------- */
body {
  font-family: 'Rubik', sans-serif;
  padding-bottom: 40px;
}
.spanish {
  display: none;
}

/* Carousel base class
-------------------------------------------------- */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .45;
    margin-bottom: 10px !important;
    .btn {
      opacity: .95 !important;
    }
}
/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.first-slide {
  background: url("https://s3-us-west-2.amazonaws.com/joncorrin/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.second-slide {
  background: url("https://s3-us-west-2.amazonaws.com/joncorrin/auto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.third-slide {
  background: url("https://s3-us-west-2.amazonaws.com/joncorrin/rv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Footer
------------------------- */
#copyright {
  text-align: center;
}
