<div class="navbar-static-bottom">
  <div id="copyright">
    <p>Jon Corrin ©2017</p>
    <%= link_to "Privacy", "#" %>
    <%= link_to "Terms", "#" %>
    <%= link_to "All of the links on the page down here for easy access", "#" %>
  </div>
</div>
