<link rel="manifest" href="manifest.json">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="A to Z">
<meta name="apple-mobile-web-app-title" content="A to Z">
<meta name="theme-color" content="#efefef">
<meta name="msapplication-navbutton-color" content="#efefef">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-starturl" content="https://eagle1040.herokuapp.com/">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" type="png" sizes="192x192" href="https://s3-us-west-2.amazonaws.com/joncorrin/logo-small.png">
<link rel="apple-touch-icon" type="png" sizes="192x192" href="https://s3-us-west-2.amazonaws.com/joncorrin/logo-small.png">
<link rel="icon" type="png" sizes="80x80" href="https://s3-us-west-2.amazonaws.com/joncorrin/logo-small.png">
<link rel="apple-touch-icon" type="png" sizes="80x80" href="https://s3-us-west-2.amazonaws.com/joncorrin/logo-small.png">
<link rel="icon" type="png" sizes="40x40" href="https://s3-us-west-2.amazonaws.com/joncorrin/logo-small.png">
<link rel="apple-touch-icon" type="png" sizes="40x40" href="https://s3-us-west-2.amazonaws.com/joncorrin/logo-small.png">
<link rel="icon" type="png" sizes="120x120" href="https://s3-us-west-2.amazonaws.com/joncorrin/logo-small.png">
<link rel="apple-touch-icon" type="png" sizes="120x120" href="https://s3-us-west-2.amazonaws.com/joncorrin/logo-small.png">
<link rel="icon" type="png" sizes="10x10" href="https://s3-us-west-2.amazonaws.com/joncorrin/logo-small.png">
<link rel="apple-touch-icon" type="png" sizes="10x10" href="https://s3-us-west-2.amazonaws.com/joncorrin/logo-small.png">
<link rel="icon" href="../../favicon.ico">

<title>A to Z Insurance</title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
