<div class="spanish">
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <span class="fa-stack fa-5x" aria-hidden="true">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-home fa-stack-1x fa-inverse"></i>
        </span>
        <h2>Seguro del Propietario</h2>
        <p>EspanolEspanolEspanolEspanol. <br>EspanolEspanolEspanolEspanolEspanol
           EspanolEspanolEspanolEspanolEspanolEspanol<br>EspanolEspanolEspanol
           EspanolEspanolEspanol<br>EspanolEspanolEspanolEspanolEspanolEspanol</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <span class="fa-stack fa-5x" aria-hidden="true">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-car fa-stack-1x fa-inverse"></i>
        </span>
        <h2>Seguro de automóvil</h2>
        <p>EspanolEspanolEspanolEspanol. <br>EspanolEspanolEspanolEspanolEspanol
           EspanolEspanolEspanolEspanolEspanolEspanol<br>EspanolEspanolEspanol
           EspanolEspanolEspanol<br>EspanolEspanolEspanolEspanolEspanolEspanol</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <span class="fa-stack fa-5x" aria-hidden="true">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
        </span>
        <h2>Seguro de vida</h2>
        <p>EspanolEspanolEspanolEspanol. <br>EspanolEspanolEspanolEspanolEspanol
           EspanolEspanolEspanolEspanolEspanolEspanol<br>EspanolEspanolEspanol
           EspanolEspanolEspanol<br>EspanolEspanolEspanolEspanolEspanolEspanol</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="colored-featurette">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Primero, nuestro equipo. <span class="text-muted">Te volaremos la cabeza.</span></h2>
        <p class="lead">EspanolEspanolEspanolEspanol. <br>EspanolEspanolEspanolEspanolEspanol
           EspanolEspanolEspanolEspanolEspanolEspanol<br>EspanolEspanolEspanol
           EspanolEspanolEspanol<br>EspanolEspanolEspanolEspanolEspanolEspanol</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "working.jpg", class:"featurette-image img-responsive center-block", alt:"People working" %>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Oh, sí, somos amigables. <span class="text-muted">Ver por ti mismo.</span></h2>
        <p class="lead">EspanolEspanolEspanolEspanol. <br>EspanolEspanolEspanolEspanolEspanol
           EspanolEspanolEspanolEspanolEspanolEspanol<br>EspanolEspanolEspanol
           EspanolEspanolEspanol<br>EspanolEspanolEspanolEspanolEspanolEspanol</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <%= image_tag "service.jpg", class:"featurette-image img-responsive center-block", alt:"Customer service" %>
      </div>
    </div>

  <hr class="featurette-divider">
  <div class="colored-featurette">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Obtenga una cotización tan fácilmente. <span class="text-muted">Mate.</span></h2>
        <p class="lead">EspanolEspanolEspanolEspanol. <br>EspanolEspanolEspanolEspanolEspanol
           EspanolEspanolEspanolEspanolEspanolEspanol<br>EspanolEspanolEspanol
           EspanolEspanolEspanol<br>EspanolEspanolEspanolEspanolEspanolEspanol</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "customer.jpg", class:"featurette-image img-responsive center-block", alt:"Customer" %>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">
  </div><!-- /.container -->
</div>
